##
# Project-specific CI environment extensions
##

services:
  # cicee execution service.
  ci-exec:
    # depends_on:
    #   - pg
    environment:
      # Environment variables with only a key are resolved to their values on the machine running (Docker) Compose.
      #--
      # Project
      #--
      DOCKER_IMAGE_REPOSITORY:
      DOCKER_PASSWORD:
      DOCKER_USERNAME:
      PROJECT_VERSION_MAJOR:
      PROJECT_VERSION_MINOR:
    # NOTE: Root user specified below helps address permissions errors when using the default CICEE Dockerfile.
    user: root
